{% if data|length > 0 %}
    {% set item_count = 2 %}
    <div class="custom-node-breadcrumbs">
        <ul class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a  itemscope itemtype="https://schema.org/Thing" title="Home" itemprop="item" itemid="{{ home_url }}" href="/">
                    <span itemprop="name">Home</span>
                </a>
                <meta itemprop="position" content="1"/>
            </li>
            {% for item in data %}
                {% if loop.index < data|length %}
                    {% if item.url_uri !="" %}
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                            {% if 'https://www.yourUrl.com/' in item.url_uri %}
                                <a itemscope itemtype="https://schema.org/Thing" title="{{ item.url_title }}" itemprop="item" itemid="{{ item.url_uri }}" href="{{ item.url_uri }}">
                            {% else %}
                                <a itemscope itemtype="https://schema.org/Thing" title="{{ item.url_title }}" itemprop="item" itemid="{{ home_url }}{{ item.url_uri }}" href="{{ item.url_uri }}">
                            {% endif %}
                                    <span itemprop="name">{{ item.url_title }}</span>
                                </a>
                                <meta itemprop="position" content="{{ item_count }}"/>
                        </li>
                        {% set item_count = item_count + 1 %}
                    {% else %}
                        <li><a  href="javascript:void(0);">{{ item.url_title }}</a></li>

                    {% endif %}
                {% else %}
                    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <span itemprop="name" title="{{ item.url_title }}">{{ item.url_title }}</span>
                        <meta itemprop="position" content="{{ item_count }}"/>
                    </li>
                    {% set item_count = item_count + 1 %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
